*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(7, 7, 7);
    color: rgb(252, 242, 242);
}
#header{
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 0, 0);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(250, 250, 242);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width:100%;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
#about{
    padding: 80px 0;
    color: beige;
}
.h1{
    display: flex;
    align-items: center;
    color: beige;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.sub-title{
    font-size: 30px;
    font-weight: 200;
    color: beige;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::{
    content:'';
    width: 0;
    height: 3px ;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    life-style: none;
    color: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding: 30px 0;
}
.service-list{
    display:grab;
    grid-temple-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.service-list div{
    background-color: #b54769;
    padding: 40px;
    font-weight: 300;
    font-side:13px;
    border-right: 10px;
}


#protfolio{
    padding: 50px 0;
}